@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'), url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
header {
    height: 40px;
    background-color: black;
}
h1 {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
footer {
    height: 70px;
    padding-top: 100px;
    color: #9f9e9e;
}
b {
    font-weight: bolder;
}
.clearfix {
    clear: both;
}
.container {
    position: relative;
    width: 1050px;
    margin: 0 auto;
}
.color {
    color: #27c7ab;
}
.logo {
    float: left;
    color: white;
    font-weight: 900;
}
.menu> li {
    float: right;
    color: white;
    list-style: none;
    margin-left: 50px;
    font-weight: 900;
}
.price-list-title {
    position: relative;
}
.menu {
    margin-right: 20px;
}
.menu> li> a {
    float: right;
    text-decoration: none;
    color: white;
}
.menu-toggle {
    position: relative;
    display: block;
    z-index: 1;
    cursor: pointer;
}
.item a {
    text-decoration: none;
    color: white;
}
.item {
    position: absolute;
    display: none;
    background-color: black;
    padding: 7px 15px 7px 15px;
    margin-left: 15px;
}
.item:first-child:before {
    position: absolute;
    content: "";
    border-color: transparent black;
    border-style: solid;
    border-width: 0 15px 15px 0;
    display: block;
    height: 0px;
    width: 0px;
    left: 45px;
    top: -5px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu-toggle-ul {
    position: absolute;
    margin-left: -30px;
}
ol.menu .menu-toggle:hover ul> .item {
    display: block;
    position: relative;
}
ol.menu .menu-toggle:hover ul> .item:first-child {
    margin-top: 40px;
}
.reel {
    height: 500px;
    background: -moz-linear-gradient(270deg, rgba(231, 230, 240, 0.15) 0%, rgba(231, 230, 240, 0.42) 32%, rgba(192, 192, 192, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(231, 230, 240, 0.15)), color-stop(32%, rgba(231, 230, 240, 0.42)), color-stop(100%, rgba(192, 192, 192, 1)));
    background: -webkit-linear-gradient(270deg, rgba(231, 230, 240, 0.15) 0%, rgba(231, 230, 240, 0.42) 32%, rgba(192, 192, 192, 1) 100%);
    background: -o-linear-gradient(270deg, rgba(231, 230, 240, 0.15) 0%, rgba(231, 230, 240, 0.42) 32%, rgba(192, 192, 192, 1) 100%);
    background: -ms-linear-gradient(270deg, rgba(231, 230, 240, 0.15) 0%, rgba(231, 230, 240, 0.42) 32%, rgba(192, 192, 192, 1) 100%);
    background: linear-gradient(180deg, rgba(231, 230, 240, 0.15) 0%, rgba(231, 230, 240, 0.42) 32%, rgba(192, 192, 192, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E7E6F0', endColorstr='#c0c0c0', GradientType=0);
}
.reel-prev-click {
    font-size: 80px;
    margin-top: 190px;
    position: absolute;
    color: #24ba9f;
    z-index: 1;
}
.reel-next-click {
    font-size: 80px;
    margin-top: 105px;
    position: absolute;
    color: #24ba9f;
}
.reel-next {
    float: right;
    margin-top: -400px;
    margin-right: 55px;
}
.reel-chair {
    padding-top: 80px;
}
.reel-content {
    position: relative;
    float: right;
    margin-top: -350px;
    margin-right: 100px;
}
.reel-content-info {
    width: 440px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.reel-content-button {
    width: 210px;
    position: absolute;
    background-color: #27c7ab;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    margin-left: 95px;
    margin-top: 30px;
}
#top {
    padding-top: 10px;
}
.info {
    height: 350px;
}
.info-one {
    display: inline-block;
    float: left;
    margin: 30px 20px 20px 0;
    width: 331px;
    height: 230px;
    background-color: silver;
    background: url(../images/box1_img.jpg);
}
.info-two {
    display: inline-block;
    float: left;
    margin: 30px 20px 20px 0;
    width: 331px;
    height: 230px;
    background-color: silver;
    background: url(../images/box2_img.jpg);
}
.info-bar {
    display: inline-block;
    background-color: rgba(210, 210, 210, 0.5);
    width: 100%;
    height: 50px;
    margin-top: 150px;
}
.info-bar> p {
    margin-left: 30px;
    margin-top: 15px;
}
.info-two:hover> .info-bar {
    display: none;
}
.info-two:hover> .info-underline-y {
    display: none;
}
.info-one:hover> .info-bar {
    display: none;
}
.info-one:hover> .info-underline-t {
    display: none;
}
.info-underline-t {
    position: absolute;
    border-bottom: 7px solid #26c7a8;
    width: 140px;
    margin-top: -15px;
    margin-left: 25px;
    display: block;
}
.info-underline-y {
    position: absolute;
    border-bottom: 7px solid #26c7a8;
    width: 135px;
    margin-top: -15px;
    margin-left: 30px;
    display: block;
}
.info-underline-u {
    position: absolute;
    border-bottom: 7px solid #26c7a8;
    width: 135px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.info-three-content {
    margin-top: 20px;
    font-size: 15px;
    color: #616060;
}
.price-list-underline {
    position: absolute;
    border-bottom: 7px solid #26c7a8;
    width: 330px;
}
.price-list-title {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 900;
    color: #7e7e7e;
}
.info-three {
    display: inline-block;
    margin: 30px 0 20px 0;
    width: 331px;
    height: 255px;
    background-color: white;
    border: 1px solid #d9d9d9;
}
.info-three-p {
    padding: 25px;
}
.price-list {
    height: 730px;
    background-color: #f1f1f1;
}
.nag {
    float: left;
    width: 328px;
    height: 500px;
    display: inline-block;
    background-color: #f9f9f9;
    margin: 45px 20px 20px 0;
    border: 2px solid #d8d8d8;
}
.nag:hover {
    float: left;
    width: 328px;
    height: 500px;
    display: inline-block;
    background-color: #27c7ab;
    margin: 30px 20px 20px 0;
    border: 2px solid #27c7ab;
}
.price-list .nag:last-child {
    margin: 45px 0 20px 0;
}
.circle {
    position: relative;
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 130px;
    background-color: white;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
}
.nag:hover .circle {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}
.circle-in {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #c2c2c2;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.nag:hover *> .circle-in {
    background-color: white;
    border: 2px solid #27c7ab;
}
.circle-price {
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}
.nag> h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.contains-list> li {
    width: 100%;
    text-align: center;
    list-style: none;
    background-color: #e4e4e4;
    color: #909090;
    padding: 10px 0 10px 0;
    font-size: 24px;
    font-weight: 900;
}
.contains-list> li:nth-child(even) {
    width: 100%;
    text-align: center;
    list-style: none;
    background-color: #f1f1f1;
}
.contains-list> li:first-child {
    border-top: 2px solid white;
}
.nag:hover *> li:first-child {
    border-top: 0px solid white;
}
.nag:hover *> .circle-price-center {
    color: #27c7ab;
}
.nag:hover .circle-price {
    background-color: #f9f9f9;
}
.nag:hover *> .button-join {
    background-color: white;
    color: #27c7ab;
}
.button-join {
    background-color: #27c7ab;
    width: 120px;
    padding: 5px 0 5px 0;
    border-radius: 8px;
    margin: 120px auto;
    text-align: center;
    color: white;
    font-weight: 900;
}
.btn2 {
    margin: 71px auto;
}
.btn3 {
    margin: 22px auto;
}
.circle-price-center {
    margin: 25px;
}
.cost-big {
    font-size: 40px;
    font-weight: 900;
    margin-left: 10px;
}
.cost-up {
    position: absolute;
    display: block;
    font-size: 15px;
    margin: -45px 0 0 55px;
    font-weight: 900;
}
.cost-info {
    font-weight: 900;
    margin-left: -5px;
}
.bigger-price {
    margin-left: 3px;
}
.application {
    background-color: #f9f9f9;
    padding: 30px 0;
}
.application h3 {
    color: #575757;
    font-size: 18px;
}
.application header.align_right {
    text-align: right;
}
.inline {
    display: inline-block;
    width: 310px;
    padding: 14px;
    vertical-align: top;
}
.form {
    margin-top: 50px;
}
.drop_down_list {
    border: 1px solid #8de0d2;
    width: 290px;
    height: 56px;
    background-color: white;
    margin-top: 22px;
    padding-left: 20px;
    position: relative;
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}
.list_label {
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}
.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}
.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}
.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}
.checkbox input:checked+ label::after {
    display: block;
}
.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;
}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}
.image_part img {
    margin-top: 110px;
    margin-left: 38px;
}
.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 6px;
    display: inline-block;
    margin: 5px 0 5px 0;
}
.summary_panel {
    background-color: white;
    width: 100%;
    height: 255px;
    padding: 10px;
    margin-top: 50px;
}
.type {
    color: #24baa0 !important;
    font-weight: 900;
}
.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}
.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 175px;
}
.panel_right {
    display: inline-block;
    width: 100px;
    border-left: 1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 175px;
}
.panel_left h4, .panel_right h4 {
    color: #24baa0;
    font-size: 23px;
}
.panel_left span {
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}
.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top: 10px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;
    background: transparent url("http://i.imgur.com/c1TkjwV.png") no-repeat 240px center;
}
.sum_label {
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}
.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}
.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display: block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}
.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display: none;
}
.list_panel li {
    margin-top: 10px;
    cursor: pointer;
    color: #585858;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
.fade-in.one {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.title {
    height: 30px;
}
.magic-form {
    margin-top: 55px;
}
.contact-form-input {
    width: 640px;
    height: 60px;
    margin-bottom: 25px;
    font-size: 30px;
    padding-left: 15px;
}
.contact-form-area {
    width: 640px;
    height: 190px;
    max-width: 640px;
    max-height: 190px;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.contact-form-chair {
    float: right;
    position: relative;
    left: -80px;
    background: url(../images/red_chair.png);
    width: 261px;
    height: 210px;
    margin-top: -200px;
}
.contact-form-accept {
    margin: 45px;
    width: 350px;
    position: absolute;
    color: #adaaaa;
    font-size: 20px;
}
input[type=checkbox].css-checkbox {
    position: absolute;
    ;
    float: right;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox+ label.css-label {
    float: right;
    position: absolute;
    margin: 50px 30px;
    padding-left: 53px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 18px;
    color: #a9a9a9;
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox].css-checkbox:checked+ label.css-label {
    background-position: 0 -32px;
}
label.css-label {
    background-image: url(../images/check.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact-form-rules-txt {
    margin-top: -9px;
}
.contact-form-submit {
    padding: 15px 15px 15px 15px;
    background-color: #27c7ab;
    width: 300px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    margin: 30px -35px;
}
.footer-copyright {
    float: left;
}
.footer-brand-name {
    float: right;
    margin-right: 20px;
}
.footer-social-icon {
    float: right;
    height: 35px;
    width: 35px;
}
.fr {
    background: url(../images/flickr.png);
}
.vi {
    background: url(../images/vimeo.png);
}
.pi {
    background: url(../images/pinterest.png);
}
.tw {
    background: url(../images/twitter.png);
}
.footer-social {
    position: absolute;
    margin: -10px 0 0 730px;
}
.footer-social> a {
    display: inline-block;
}
a {
    text-decoration: none;
}
